@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Attraction>

<div class="attractionTable">
    <h3 class="attractionTitle">
        Attraction List
        <span class="tableNav">
            <form data-ajax="true"
                  data-ajax-update="#target"
                  data-ajax-loading="#loader">
                @Html.TextBox("Aname", "",
                         new { type = "search", autofocus = "", data_trim = "", id = "searchBar" })
                <button>Search</button>

                <img src="/images/loader.gif" id="loader" style="display: none">
            </form>

            @Model.Count() of @Model.TotalItemCount record(s) |
            Page @Model.PageNumber of @Model.PageCount

            <button class="create" data-get="/Admin/AdminAttractionCreate">Create New</button>
        </span>
    </h3>

    <div class="attractionTypeTable">
        <table>
            <thead>
                <tr>
                    <th>Attraction ID</th>
                    <th>Attraction Name</th>
                    <th>Attraction Type</th>
                    <th>Location(Region)</th>
                    <th colspan="3" style="text-align:center;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Id</td>
                        <td>@a.Name</td>
                        <td>@a.AttractionType?.Name</td>
                        <td>@a.Location</td>
                        <td style="text-align:center;"><button class="update" data-get="/Admin/AdminAttractionUpdate/@a.Id">Update</button></td>
                        <td style="text-align:center;"><button class="delete" data-get="/Admin/AdminAttractionDelete/@a.Id">Delete</button></td>
                    </tr>
                }

            </tbody>
        </table>
        @{
            var options = PagedListRenderOptions.ClassicPlusFirstAndLast;
            options.LinkToFirstPageFormat = "First";
            options.LinkToLastPageFormat = "Last";
            options.LinkToPreviousPageFormat = "Previous";
            options.LinkToNextPageFormat = "Next";
        }

        @Html.PagedListPager(
                 Model,
                 page => $"?Apage={page}",
                 options
                 )

    </div>
</div>

