@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin | Discounts and Promotions";
}

@model IPagedList<Promotion>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/AdminCss/AdminPromotions.css" asp-append-version="true">
</head>
<body>
    <div class="content">

        <!-- Discounts Section -->
        <div class="discountTable">
            <h3 class="discountTitle">
                Discounts List
                <span><button class="create">Create New</button></span>
            </h3>
            <br />
            <div class="discountTableContent">
                <table>
                    <thead>
                        <tr>
                            <th>Discount ID</th>
                            <th>Title</th>
                            <th>Discount Amount</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th colspan="2" style="text-align:center;">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var Promotion in @Model)
                        {
                            <tr>
                                <td>@Promotion.Id</td>
                                <td>@Promotion.Title</td>
                                @* <td>@Promotion.Amount</td> *@
                                <td>@Promotion.StartDate.ToString("yyyy-MM-dd")</td>
                                <td>@Promotion.EndDate.ToString("yyyy-MM-dd")</td>
                                @* <td>@Promotion.Status</td> *@
                                <td style="text-align:center;">
                                    <button class="update">Update</button>
                                </td>
                                <td style="text-align:center;">
                                    <button class="delete">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>
