@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin | Feedback";
}


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/AdminCss/AdminAttraction.css" asp-append-version="true">
    <script>
        // JavaScript to toggle visibility of sections
        function toggleSection(sectionId, toggleButtonId) {
            const section = document.getElementById(sectionId);
            const toggleButton = document.getElementById(toggleButtonId);
            if (section.style.display === "none") {
                section.style.display = "block";
                toggleButton.textContent = "-"; // Expanded state
            } else {
                section.style.display = "none";
                toggleButton.textContent = "+"; // Collapsed state
            }
        }
    </script>
</head>
<body>
    <div class="content">

        <div class="attractionTypeData">
            <h3 class="attractionTypeTitle">
                Attraction Type List
                <span>
                    <input type="text"  />
                </span>
                <span style="justify-content: flex-end;">
                    <button class="create" data-get="/Admin/AdminAttractionTypeCreate">Create New</button>
                    <button id="toggleTypeButton" onclick="toggleSection('attractionTypeSection', 'toggleTypeButton')">+</button>
                </span>
            </h3>
            <div class="attractionTypeTable" id="attractionTypeSection" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Attraction Type ID</th>
                                <th>Name</th>
                                <th colspan="2" style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var at in ViewBag.AttractionTypes)
                            {
                            <tr>
                                <td>@at.Id</td>
                                <td>@at.Name</td>
                                <td style="text-align:center;"><button class="update" data-get="/Admin/AdminAttractionTypeUpdate/@at.Id">Update</button></td>
                                <td style="text-align:center;"><button class="delete">Delete</button></td>
                            </tr>
                            }       
                        </tbody>
                    </table>
                </div>
        </div>

        <div class="attractionTable">
            <h3 class="attractionTitle">
                Attraction List
                <span style="justify-content: flex-end;">
                    <button class="create" data-get="/Admin/AdminAttractionTypeCreate">Create New</button>
                    <button id="toggleAttractionButton" onclick="toggleSection('attractionSection', 'toggleAttractionButton')">+</button>
                </span>
            </h3>
				<div class="attractionTypeTable" id="attractionSection" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Attraction ID</th>
                                <th>Attraction Name</th>
                                <th>Attraction Type</th>
                                <th>Location(Region)</th>
                                <th colspan="3" style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var a in ViewBag.Attractions)
                        {
                            <tr>
                                <td>@a.Id</td>
                                <td>@a.Name</td>
                                <td>@a.AttractionType?.Name</td>
                                <td>@a.Location</td>
                                <td style="text-align:center;"><button class="update" data-get="/Admin/AdminAttractionTypeUpdate/@a.Id">Update</button></td>
                                <td style="text-align:center;"><button class="delete" data-get="/Admin/AdminAttractionTypeDelete/@a.Id">Delete</button></td>
                            </tr>
                        }
                       
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</body>
</html>
