@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Admin | Ticket";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/AdminCss/AdminTicket.css" asp-append-version="true">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div class="content">
        <h1>Ticket management</h1>
        <form method="post" enctype="multipart/form-data" class="file-upload-form">
            <div class="form-group">
                <label for="file" class="import-label">
                    <i class="fas fa-file-import"></i>
                    <span>Import Tickets</span>
                </label>
                <input type="file" name="file" accept="text/plain" id="file" class="form-control-file" style="display: none;">
            </div>

            <!-- Ensure the file name is visible -->
            <span id="fileName" class="file-name-display"></span>

            <button id="ticketAddBtn" type="submit" asp-action="Import" asp-controller="Admin" class="btn btn-primary">
                Import
            </button>
        </form>
        <script>
            document.getElementById('file').addEventListener('change', function () {
                const fileNameSpan = document.getElementById('fileName');
                const selectedFile = this.files[0];

                if (selectedFile) {
                    fileNameSpan.textContent = `Selected: ${selectedFile.name}`;
                } else {
                    fileNameSpan.textContent = '';
                }
            });
        </script>
        <br />
        <table class="attractionTicket">
            <thead>
                <tr>
                    <th>Attraction ID</th>
                    <th>Attraction Name</th>
                    <th>Attraction Type</th>
                    <th>Location(Region)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr id="attraction-row" class="clickable-row" data-href="@Url.Action("AdminTicketDetails", "Admin", new { id = a.Id })">
                        <td>@a.Id</td>
                        <td>@a.Name</td>
                        <td>@a.AttractionType?.Name</td>
                        <td>@a.Location</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>



    <script>
        // jQuery to make rows clickable
        $(document).ready(function () {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
</body>

</html>

