@{
    ViewBag.Title = "My Cart";
    Layout = "_ClientLayout";
    var totalPrice = ViewBag.TotalPrice;
    @model CartVM   
    var cartItems = ViewBag.CartItems as IEnumerable<dynamic>;



}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/clientcss/cart.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="cart-container">
        <div class="cart-header">
            <h2>My Cart</h2>
        </div>
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Ticket Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (cartItems != null)
                {
                    foreach (var item in cartItems)
                    { 
                        <form asp-action="deleteCart" asp-controller="Client"  method="post">
                        <tr>
                            <td>
                                @{
                                    var imagePaths = @item.ImagePath.Split('|');
                                }
                                <img src="/attractionImages/@imagePaths[0]" alt="@item.TicketName" style="width:100px; height:auto;" />
                            </td>
                            <td>@item.TicketName - @item.TicketType</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@item.TotalPrice.ToString("F2")</td>
                            <td>
                                <button onclick="window.location.href='@Url.Action("ClientAttractionDetail", "Client", new { AttractionId = item.AttractionId })'" class="btn_update">Update</button>
                               
                                    <input type="hidden" name="ticketId" value="@item.TicketId" style="display:none;"/>
                                    <button type="submit" class="btn_delete">Delete</button>
                                                              
                            </td>
                        </tr>
                        </form>
                    }
                }
            </tbody>
        </table>
        <div class="cart-summary">
            <h3>Total: @totalPrice.ToString("C")</h3>
            <button class="checkout-btn" onclick="location.href='@Url.Action("Checkout", "Client")'">Proceed to Checkout</button>
        </div>
    </div>
</body>
</html>
